.jd_layout {
    width: 100%;
    /* 最大宽度 */
    max-width: 640px;
    /* 最小宽度 */
    min-width: 320px;
    background-color: #eee;
    margin: 0 auto;
    /* height: 900px; */
}

.jd_search {
    width: 100%;
    max-width: 640px;
    height: 40px;
    background-color: #e92322;
    position: fixed;
    z-index: 11;
}

.jd_logo {
    width: 56px;
    height: 30px;
    display: block;
    position: absolute;
    left: 7px;
    top: 3px;
    background: url(../images/jd-sprites.png);
    background-size: 200px 200px;
    background-position: 0 -303px;

}

.jd_login {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.jd_searchBox {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 50px;
}

.jd_searchBox>input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-top: 4px;
    padding-left: 26px;
    color: #666666;
}

/* 使用伪类来实现搜索框中的放大镜图片 */
.jd_searchBox::before {
    content: "";
    margin-top: 11px;
    padding-left: 17px;
    width: 10px;
    height: 23px;
    position: absolute;
    background: url(../images/jd-sprites.png);
    background-size: 200px 200px;
    background-position: 147px -310px;
}

/* ------------------------------------------------------- */
/* 轮播图样式 */
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_bannerImg {
    width: 800%;
}

.jd_bannerImg>li {
    width: 12.5%;
    float: left;
}

.jd_bannerImg>li img {
    /* 去除文本基线的方法
    1.设置为块元素
    2.可以将文本的字体大小设置为0
    3.vertical-align:bottom
    */
    display: block;
    width: 100%;
}

.jd_bannerIndicator {
    width: 100px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
}

.jd_bannerIndicator>li {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-left: 5px;
}

.jd_bannerIndicator>li:first-of-type {
    margin-left: 0;
}

.jd_bannerIndicator>li.active {
    background-color: #fff;
}

/* -------------------------------------------- */
/* 导航栏样式 */
.jd_nav {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
}

.jd_nav li {
    width: 25%;
    float: left;
    text-align: center;
}

.jd_nav li img {
    width: 60px;
}

.jd_nav li p {
    line-height: 25px;
    color: #666666;
}

/* ---------产品样式--------------------- */
.jd_product {
    width: 100%;
}

.jd_productBox {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 13px 16px 6px #ccc;
}

.jd_productBox>.jd_pTip {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    color: #666;
    padding-left: 30px;

}

.jd_productBox>.jd_pTip>h3 {
    position: relative;

}

.jd_productBox>.jd_pTip>h3::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #e92322;
    left: -8px;
    top: 9px;
}

/* 产品图片超链接 */
.a_50 {
    width: 50%;
    display: block;
}

.a_50>img {
    width: 100%;
    display: block;
}

.b_left {
    border-left: 1px solid #ccc;
}

.b_bottom {
    border-bottom: 1px solid #ccc;
}

.b_right {
    border-right: 1px solid #ccc;
}

/* 设置样式标记：秒杀块 */
.js_sk {}

.jd_sk>.jd_pTip {
    border-bottom: none;
    padding-left: 16px;
}

.jd_sk>.jd_pTip>.jd_left>.jd_sk_icon {
    width: 16px;
    height: 20px;
    background: url(../images/sk.png);
    margin-top: 4px;
    margin-right: 9px;
}

.jd_sk>.jd_pTip>.jd_left>.jd_sk_text {
    margin-right: 8px;
    color: red;
}

.jd_sk>.jd_pTip>.jd_left>.jd_sk_time>span {
    display: inline-block;
    width: 12px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    background-color: #000;
    text-align: center;
}

.jd_sk>.jd_pTip>.jd_left>.jd_sk_time>span:nth-last-child(3n) {
    color: #000;
    background-color: white;
    width: 8px;
}